.list{
    background-color: rgb(27, 0, 58);
    height: 68%;
    width:35%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.137);
}


.note{
    
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(108, 0, 209);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    width: 40%;
}
 

.note div{
    width: 100%;
    text-align: left;
}


.note p{
    margin: 5px;
    font-size: 14px;
}

.note h3{
    font-size: 18px;
    
}


 .list h1{
    margin-top: 15px;
    margin-bottom: 15px;
}



 .card{
    margin-top: 5px;
    display:inline-flex;
    width: 100%;
    justify-content: center;
}
.card button{
    background: none;
    border: none;
    cursor: pointer;
}

.card button:hover{
    color: red;
}

.note p{
    color: rgb(173, 173, 173);
}


.buttons{
    margin-top: 0px;
    margin-bottom: 10px;
}

.buttons button{
    padding: 15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: none;
}

/* .buttons button:active{
    background-color: gray;
}

.buttons button:focus{
    background-color: gray;
} */




