.recentNotes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.recentNote{
  background-color: rgb(40, 0, 77);
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;

}

.recentNoteText{
  margin: 5px;

}

.recentNoteText p{
  margin: 5px;
  font-size: 20px;
}